{% extends 'layout.html.twig' %}

{% block body %}
<div class="loader" style="display:none;"><span>Trwa wysyłanie zestawienia</span></div>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 style="color:#172b6d; font-weight:bold;">{{ formularz.jednostka.nazwa }}</h5>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ path('redirect_route') }}">Strona domowa</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('zestawienia_todo') }}">Zestawienia</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="color: #172b4d;">
    {% include 'website/flash_messages.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-body" style="display: block;">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a href="{{ path('zestawienie_dashboard', {id: formularz.id })}}" class="nav-link zestawienie-nav"><i class="fas fa-chart-line"></i> Zestawienie</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('zestawienie_dashboard_messages', {id: formularz.id })}}" class="nav-link zestawienie-nav"><i class="fas fa-comments"></i> Korespondencja</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('zestawienie_dashboard_corrects', {id: formularz.id })}}" class="nav-link zestawienie-nav"><i class="fas fa-check-square"></i> Korekty</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('zestawienie_dashboard_history', {id: formularz.id })}}" class="nav-link zestawienie-nav active"><i class="fas fa-history"></i> Historia</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('zestawienie_dashboard_settings', {id: formularz.id })}}" class="nav-link zestawienie-nav"><i class="fas fa-ellipsis-v "></i></a>
                        </li>
                    </ul>
                    <div class="tab-content " id="custom-content-above-tabContent">

                        {% include 'zestawienie/dashboard/estimate.html.twig' %}

                        {% include 'zestawienie/dashboard/messages.html.twig' %}

                        {% include 'zestawienie/dashboard/correct.html.twig' %}

                        {% include 'zestawienie/dashboard/history.html.twig' %}

                        {% include 'zestawienie/dashboard/settings.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% include 'zestawienie/dashboard/window.html.twig' %}
    <input type="hidden" value="{{ formularz.id }}" id="formularz">
    <input type="hidden" value="{{ app.user.login }}" id="login">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('zestawienie_chart') }}
    {{ encore_entry_script_tags('zestawienie_corrects') }}
{% endblock %}
