<div class="tab-pane fade {% if zakladka == "dashboard" %}show active{% endif %}" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">

    <div class="row">
        <div class="col-md-6">
            <div class="card-body" style="display: block;">
                <div class="card card-primary card-outline" style="display: block; min-height: 400px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0">1. Podstawowe dane</h5>
                            </div>
                            <div class="col-md-6">
        {#                        <a href="{{ path('zestawienie_estimate', {id: id}) }}" class="btn btn-sm btn-primary float-right"><i class="fas fa-edit"></i> Edytuj</a>#}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Dane jednostki:</h6>
                        <p class="card-text">
                            <span>Nazwa: <b>{{ formularz.jednostka.nazwa }}</b></span><br>
                            <span>Adres: <b>{{ formularz.jednostka.ulica }} {{ formularz.jednostka.numer }}</b></span><br>
                            <span>Kod pocztowy: <b>{{ formularz.jednostka.kodPocztowy }} {{ formularz.jednostka.miasto }}</b></span>
                        </p>
                        <p class="card-text">
                            <span>Wartość łączna: <b>{{ formularz.podsumowania.toArray[0].sumaRokBiezacy|number_format(2, ',', ' ')  }}zł</b></span><br>
                            <span>Data utworzenia: <b>{{ formularz.dataUtworzenia|date('d/m/Y') }}</b></span><br><br>
                            <span>Utworzył: <b>{{ formularz.worker.imie }} {{ formularz.worker.nazwisko }} ({{ formularz.worker.login }})</b></span><br>
                            <span>E-mail: <b>{{ formularz.worker.email }}</b></span>
                            {% if formularz.notatka is not null %}
                                <br><br><span>Notatka: <b>{{ formularz.notatka }}</b></span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0">2. Podgląd graficzny</h5>
                            </div>
                            <div class="col-md-6">
                                <h5 class="m-0 text-right">Dane za rok aktualny ({{ uuid.getRokZestawieniowy }})</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart" style="min-height: 285px; height: 285px; max-height: 285px; max-width: 100%;"></canvas>
                        <span style="font-size: 10px;">* Graf jest niewidoczny, jeżeli wartości w roku zestawieniowym są zerowe.</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
    <div class="card-body" style="display: block;">
        <div class="card card-primary card-outline">
            <div class="card-header">
            <div class="row">
            <div class="col-md-6">
            <h5 class="m-0">3. Zestawienia kwot</h5>
            </div>
            <div class="col-md-6">
                {% if is_granted('ROLE_WORKER') and (formularz.state == null or formularz.state == 'worker') %}
                    <a href="{{ path('zestawienie_estimate', {id: formularz.id}) }}" class="btn btn-sm btn-primary float-right ml-2"><i class="fas fa-edit"></i> Wypełnij dane</a>
                {% endif %}
                {% if workflow_can(formularz, 'worker_to_supervisor_to_verify') %}
                    <a type="button" class="btn btn-warning btn-sm float-right ml-2 formularz_workflow" href="{{ path('app_change', {'id': formularz.id, 'to': 'worker_to_supervisor_to_verify'}) }}"><i class="fas fa-user"></i> Do akceptacji dyrektora</a>
                {% endif %}
                {% if workflow_can(formularz, 'supervisor_to_manager_to_accept') %}
                    <a type="button" class="btn btn-success btn-sm float-right ml-2 formularz_workflow" href="{{ path('app_change', {'id': formularz.id, 'to': 'supervisor_to_manager_to_accept'}) }}"><i class="fas fa-check"></i> Zaakceptuj</a>
                {% endif %}
                {% if workflow_can(formularz, 'supervisor_to_worker_to_correct') %}
                    <a type="button" class="btn btn-warning btn-sm float-right ml-2 formularz_workflow" href="{{ path('app_change', {'id': formularz.id, 'to': 'supervisor_to_worker_to_correct'}) }}"><i class="fas fa-reply"></i> Do poprawy</a>
                {% endif %}
                {% if workflow_can(formularz, 'manager_done') %}
                    <a type="button" class="btn btn-success btn-sm float-right ml-2 formularz_workflow" href="{{ path('app_change', {'id': formularz.id, 'to': 'manager_done'}) }}"><i class="fas fa-check"></i> Zaakceptuj</a>
                {% endif %}
                {% if workflow_can(formularz, 'manager_to_worker_to_correct') %}
                    <a type="button" class="btn btn-warning btn-sm float-right ml-2 formularz_workflow" href="{{ path('app_change', {'id': formularz.id, 'to': 'manager_to_worker_to_correct'}) }}"><i class="fas fa-reply"></i> Do poprawy</a>
                {% endif %}

                <a href="{{ path('docs_v1e_excel', {id: formularz.id}) }}" class="btn btn-sm btn-primary float-right ml-2"><i class="fas fa-file-excel"></i> Excel</a>
                <a href="{{ path('docs_v1p_pdf', {id: formularz.id}) }}" class="btn btn-sm btn-primary float-right"><i class="fas fa-file-pdf"></i> PDF</a>
            </div>
            </div>
            </div>
            <div class="card-body">
            <table class="table table-bordered text-center">
                <tr>
                    <th width="23%">Nazwa</th>
                    <th>Rok poprzedni</th>
                    <th>Rok aktualny</th>
                    <th>Różnica kwot</th>
                    <th width="15%">Wartość procentowa</th>
{#                    <th>Suma</th>#}
                    <th width="8%">Czynniki</th>
                </tr>
                {% for zestawienie in formularz.zestawienia %}
                    {% if zestawienie.podgrupa.nazwa == "Grunty przekazane w użytkowanie wieczyste" or
                        zestawienie.podgrupa.nazwa == "Grunty inne niż przekazane w użytkowanie wieczyste" %}
                        <tr style="background-color: #f1f1f1">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td class="align-middle">{{ zestawienie.podgrupa.nazwa }}</td>
                    <td class="align-middle">{{ zestawienie.wartoscRokPoprzedni|number_format(2, ',', ' ') }}</td>
                    <td class="align-middle">{{ zestawienie.wartoscRokZestawieniowy|number_format(2, ',', ' ') }}</td>
                    <td class="align-middle">{{ zestawienie.wartoscRoznicaKwot|number_format(2, ',', ' ') }}</td>
                    <td class="align-middle">{{ zestawienie.wartoscProcentowa|number_format(2, ',', ' ') }}</td>
                    <td class="align-middle">
                        <div class="dropleft">
                            <button class="btn btn-sm btn-primary accordion-toggle" id="dropdownMenuLink{{loop.index0}}" data-toggle="collapse" data-target="#demo{{ loop.index0 }}">Pokaż</button>
                        </div>
                    </td>
                </tr>
                <tr style="background-color: #f0f0f0;">
                    <td colspan="6" class="hiddenRow">
                        <div id="demo{{ loop.index0 }}" class="accordian-body collapse row mb-3">
                            <div class="col-md-6"><br>
                                <div class="text-left">
                                    <b class="pl-4">Czynniki dodatnie</b> <hr>
                                    {% for czynnik in formularz.czynniki|filter(czynnik => czynnik.typ == 'dodatni') %}
                                        {% if czynnik.podgrupa == zestawienie.podgrupa %}
                                        <ul>
                                            <li>{{ czynnik.tresc }}</li>
                                        </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6"><br>
                                <div class="text-left">
                                    <b class="pl-4">Czynniki ujemne</b> <hr>
                                    {% for czynnik in formularz.czynniki|filter(czynnik => czynnik.typ == 'ujemny') %}
                                        {% if czynnik.podgrupa == zestawienie.podgrupa %}
                                        <ul>
                                            <li>{{ czynnik.tresc }}</li>
                                        </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                    {% if zestawienie.podgrupa.nazwa == "Grunty inne niż przekazane w użytkowanie wieczyste"  %}
                        <tr style="background-color: #f1f1f1">
                            <td><b>Suma gruntów</b></td>
                            <td>{{ formularz.podsumowania.toArray[0].sumaGruntyRokPoprzedni|number_format(2, ',', ' ')  }}</td>
                            <td>{{ formularz.podsumowania.toArray[0].sumaGrunty|number_format(2, ',', ' ')  }}</td>
                            <td colspan="4"></td>
{#                            <td>{{ formularz.podsumowania.toArray[0].sumaGrunty|number_format(2, ',', ' ')  }}</td>#}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr style="background-color: #f0f0f0">
                    <td class="align-middle"><b>Suma łączna</b></td>
                    <td class="align-middle">{{ formularz.podsumowania.toArray[0].sumaRokPoprzedni|number_format(2, ',', ' ')  }}</td>
                    <td class="align-middle">{{ formularz.podsumowania.toArray[0].sumaRokBiezacy|number_format(2, ',', ' ')  }}</td>
                    <td colspan="3"></td>
{#                    <td>{{ formularz.podsumowania.toArray[0].sumaRokBiezacy|number_format(2, ',', ' ')  }}</td>#}
{#                    <td></td>#}
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>    